body {
  background-color: tan;
  margin: 10% 20%;
}

.Experience {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid brown;
  border-top: 1px solid brown;
}

.Education {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid brown;;
}

.Professional {
  text-align: center;
}

.Personal {
  text-align: center;
  border-bottom: 5px solid brown;
}

.Info {
  border-top: 5px solid brown;
  text-align: center;
}

h1 {
  text-align: center;
}

h4 {
  color: brown;
}

ul {
  color: white;
}

img {
  float: right;
  margin: -85px 0px;
}

P {
  text-align: left;
  margin: 100px 15px;
}
